.header-wrapper {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
  
  }
  .title {
    width: 50%;
  }


  .header-wrapper {
    @media screen and (max-width: 650px) {
     margin: 2rem;
    }
  }

  


