.header-wrapper {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    gap: 1rem;
  
  }
  .title {
    width: 50%;
  }
  

  


